# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/
build/
dist/
build_*/
dist_*/
exe_test*.log

# Tooling
*.log
*.bak
*.old
.idea/
.vscode/
Github-Readme-Writer/
docs/

# Project
*.disabled
*.zip
